<div class="container">
  <div class="row mb-3">
    <div class="col-8">   
      <H1>{{title}}</H1>        
      <div *ngIf="product$ | async as product">
        <div class="card" style="width: 26rem;">
          <img class="card-img-top" [src]="product.imageUrl" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{product.productName}}</h5>
            <p class="card-text">
              <u>Description:</u><br/>
              {{product.description}}<br/>
              <u>Code:</u> {{product.productCode}}<br/>
              <u>Mise en ligne:</u> {{product.releaseDate}}<br/>
              <u>Prix:</u> {{product.price}}<br/>              
            </p>            
          </div>
          <div class="card-footer">
            <div class="text-center">
              {{product.starRating}}<br/>
              <app-star [(rating)] = product.starRating (ratingChanged)="product.starRating = $event"></app-star><br/>
            
              <button (click)="goToProducts()"  class="btn btn-sm btn-dark"><<-- Liste produits</button>
              <button (click)="editProducts(product.id)"  class="btn btn-sm btn-dark ml-1 mr-1">Edition</button>
              <a [routerLink]="['/products', product.id + 1]" class="btn btn-sm btn-dark" >Produit suivant -->></a>
          </div>
          </div>
        </div>
      </div>
    </div>
    <router-outlet>      
      <div class="col-4">
      
      </div>
    </router-outlet>
    
  </div>
</div>