ul {
    margin: 0 0 1.5rem;
    padding: 0;
}

li {
    display: inline-block;
}

svg {
    fill: currentColor;
    width: 1.5rem;
    height: 1.5rem;
}

img {
    height: auto;
}
.card {
    border: 1px solid #bac6d3;
    border-radius: 8px;
    padding: 1rem;
}

/********************************
* Carousel styles
*********************************/
.carousel-items-exp {
    display: flex;
    overflow-x: scroll;
    width : 153px;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
}

.carousel-item-exp {
    flex:1 0 200px;
    margin-left: 1rem;
    scroll-snap-align: start;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #3d4852;
    border-radius: 3px;
}

/********************************
* Breakpoints
*********************************/
@media screen and (min-width: 576px) {
    .carousel-item-exp {
        flex-basis: 150px;
    }
}

@media screen and (min-width: 992px) {

    .carousel-item-exp {
        flex-basis: 150px;
    }
}


