<H1>{{title}}</H1>

<div class="table-responsive">
  <table class="table" border="1" >
    <thead>
      <tr> 
        <td>#</td>
        <td>Nom</td>
        <td>Code</td>
        <td>Date</td>
        <td>Description</td>
        <td>Prix</td>
        <td>Evaluations</td>
        <td>Image</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products"> 
        <td></td>
        <td>{{product.productName}}</td>
        <td>{{product.productCode}}</td>
        <td>{{product.releaseDate}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>{{product.starRating}}</td>
        <td>{{product.imageUrl}}</td>
      </tr>      
    </tbody>
  </table>
</div>